.calculator {
    border: 1px solid grey;
    width: 20%;
    margin: 50px auto;
}


.buttonbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    width: 70%;
    margin: auto;
}

.button {
    font-size: 20px;
    width: 50px;
    height: 50px;
}